@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web

@if (this.CardWindowStatus != CardWindowStatus.Close)
{
    <div class="card @CssClass">
        @if (this.HeaderVisible)
        {
            <div class="card-header @CssClassHeader">
                @HeaderText

                @if (this.Close.HasDelegate && this.CardWindowStatus != CardWindowStatus.Close)
                {
                    <button type="button" class="btn btn-outline-@CssClassWindowButtonStyle btn-sm btn-noborder me-1 rounded float-end" @onclick="this.OnClose"><span class="oi oi-x" /></button>
                }

                @if (this.Maximize.HasDelegate && this.CardWindowStatus == CardWindowStatus.Minimize)
                {
                    <button type="button" class="btn btn-outline-@CssClassWindowButtonStyle btn-sm btn-noborder me-1 rounded float-end" @onclick="this.OnMaximize"><span class="oi oi-fullscreen-enter" /></button>
                }

                @if (this.Minimize.HasDelegate && this.CardWindowStatus == CardWindowStatus.Maximize)
                {
                    <button type="button" class="btn btn-outline-@CssClassWindowButtonStyle btn-sm btn-noborder me-1 rounded float-end" @onclick="this.OnMinimize"><span class="oi oi-minus" /></button>
                }
            </div>
        }

        @if (this.CardWindowStatus == CardWindowStatus.Maximize || !this.HeaderVisible)
        {
            <div class="card-body @CssClassBody">
                <h4 class="card-title @CssClassTitle">
                    @TitleText

                    @if (!this.HeaderVisible)
                    {
                        @if (this.Close.HasDelegate && this.CardWindowStatus != CardWindowStatus.Close)
                        {
                            <button type="button" class="btn btn-outline-primary btn-sm btn-noborder me-1 rounded float-end" @onclick="this.OnClose"><span class="oi oi-x" /></button>
                        }

                        @if (this.Maximize.HasDelegate && this.CardWindowStatus == CardWindowStatus.Minimize)
                        {
                            <button type="button" class="btn btn-outline-@CssClassWindowButtonStyle btn-sm btn-noborder me-1 rounded float-end" @onclick="this.OnMaximize"><span class="oi oi-fullscreen-enter" /></button>
                        }

                        @if (this.Minimize.HasDelegate && this.CardWindowStatus == CardWindowStatus.Maximize)
                        {
                            <button type="button" class="btn btn-outline-@CssClassWindowButtonStyle btn-sm btn-noborder me-1 rounded float-end" @onclick="this.OnMinimize"><span class="oi oi-minus" /></button>
                        }
                    }
                </h4>

                @if (this.CardWindowStatus == CardWindowStatus.Maximize)
                {
                    <h6 class="card-subtitle @CssClassSubTitle">@SubTitleText</h6>
                    <p class="card-text @CssClassText">
                        @Text
                    </p>
                }
            </div>
        }
        @if (this.CardWindowStatus == CardWindowStatus.Maximize && this.Footer != null)
        {
            <div class="card-footer @CssClassFooter">
                @Footer
            </div>
        }
    </div>
}