@using Microsoft.AspNetCore.Components.Web
@typeparam TItem

<div class="@CssClass">
    <div>
        @if (this.SelectItem != null)
        {
            @if (this.SelectItemKeyProperty != null)
            {
                @if (this.SaveIsSubmit)
                {
                    <button type="submit" class="@this.CssClassSaveButton">
                        <span class="@(this.SelectItemHasKeyValue ? this.CssClassEditIcon : this.CssClassSaveIcon)" /> @Localization[(this.SelectItemHasKeyValue ? this.TextEdit : this.TextSave) ?? ""]
                    </button>
                }
                @if (this.Save.HasDelegate)
                {
                    <button type="button" class="@this.CssClassSaveButton" @onclick="this.OnSave">
                        <span class="@(this.SelectItemHasKeyValue ? this.CssClassEditIcon : this.CssClassSaveIcon)" /> @Localization[(this.SelectItemHasKeyValue ? this.TextEdit : this.TextSave) ?? ""]
                    </button>
                }

                @if (this.AddIsSubmit)
                {
                    <button type="submit" class="@this.CssClassAddButton"><span class="@this.CssClassAddIcon" /> @Localization[this.TextAdd ?? ""]</button>
                }
                @if (this.Add.HasDelegate)
                {
                    <button type="button" class="@this.CssClassAddButton" @onclick="this.OnAdd"><span class="@this.CssClassAddIcon" /> @Localization[this.TextAdd ?? ""]</button>
                }

                @if (this.RemoveIsSubmit)
                {
                    <button type="submit" class="@this.CssClassRemoveButton"><span class="@this.CssClassRemoveIcon" /> @Localization[this.TextRemove ?? ""]</button>
                }
                @if (this.Remove.HasDelegate)
                {
                    <button type="button" class="@this.CssClassRemoveButton" @onclick="this.OnRemove"><span class="@this.CssClassRemoveIcon" /> @Localization[this.TextRemove ?? ""]</button>
                }
            }

            @if (this.Init.HasDelegate)
            {
                <button type="button" class="@this.CssClassInitButton" @onclick="this.OnInit"><span class="@this.CssClassInitIcon" /> @Localization[this.TextInit ?? ""]</button>
            }
            @if (this.New.HasDelegate)
            {
                <button type="button" class="@this.CssClassNewButton" @onclick="this.OnNew"><span class="@this.CssClassNewIcon" /> @Localization[this.TextNew ?? ""]</button>
            }

            @if (this.SelectItemKeyProperty != null && this.SelectItemHasKeyValue)
            {
                @if (this.Copy.HasDelegate)
                {
                    <button type="button" class="@this.CssClassCopyButton" @onclick="this.OnCopy"><span class="@this.CssClassCopyIcon" /> @Localization[this.TextCopy ?? ""]</button>
                }
                @if (this.Delete.HasDelegate)
                {
                    <button type="button" class="@this.CssClassDeleteButton" @onclick="this.OnDelete"><span class="@this.CssClassDeleteIcon" /> @Localization[this.TextDelete ?? ""]</button>
                }
            }
        }
    </div>
</div>