@using MetaFrm.Control
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@inherits BaseComponent

@if(this.Control == null)
{
    @if (this.Items1 != null)
        @switch (this.DataType)
        {
            case Database.DbType.Char or Database.DbType.NChar or Database.DbType.NText or Database.DbType.NVarChar or Database.DbType.Text or Database.DbType.VarChar:
                foreach (var item in this.Items1)
                {
                    <option Value="@(item.String(this.DataField))">@item.String(this.Caption)</option>
                }
                break;
            case Database.DbType.Int:
                foreach (var item in this.Items1)
                {
                    <option Value="@(item.Int(this.DataField))">@item.String(this.Caption)</option>
                }
                break;
            case Database.DbType.Decimal or Database.DbType.Money or Database.DbType.SmallMoney:
                foreach (var item in this.Items1)
                {
                    <option Value="@(item.Decimal(this.DataField))">@item.String(this.Caption)</option>
                }
                break;
            case Database.DbType.Float or Database.DbType.Real:
                foreach (var item in this.Items1)
                {
                    <option Value="@(item.Float(this.DataField))">@item.String(this.Caption)</option>
                }
                break;
            default:
                @Control
                break;
        }
}
else 
{
    @Control
}